body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#top-bar {
    padding: 0.25em;
    box-shadow: 0px 3px 3px grey;
}

#content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    flex: 1 0 auto;
}

.bar {
    width: 100%;
    background: lightgrey;
}

.bar-item {
    font-size: 2em;
    display: block;
}

.card {
    padding: 0.5em;
    margin-bottom: 1em;
    box-shadow: 3px 3px 3px grey;
    border: 1px solid grey;
    border-radius: 3px;
}

.center {
    text-align: center;
}

.linkbox {
    font-family: sans serif;
    padding: 0.25em;
    border: 1px solid black;
    border-radius: 3px;
    background: lightgrey;
}

.pastebox {
    width: 90%;
    height: 6em;
    min-height: 4em;
    resize: vertical;
}
